.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.bold {
    font-weight: bolder;
}

.orangered {
    color: orangered;
}

.purple {
    background-color: purple;
    color: aliceblue;
}